/* contactUs.css*/

html,
body {
	margin: 0;
	padding: 0;
}

div.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

h2 {
	font-family: Palatino Linotype;
	margin-top: auto;
}

#topic {
	font-size: 12px;
	line-height: 5px;
}

#topic1 {
	font-size: 21px;
	line-height: 5px;
}

.address {
	font-size: 12px;
	line-height: 5px;
	margin-left: 70px;
}

.container {
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 1px;
	padding-bottom: 70px;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 35px;
	padding-top: 40px;
	box-shadow: 18px 20px 12px rgba(0, 0, 0, .32);
}

.container_form {
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	margin: inherit;
	padding: 30px;
	padding-top: 5px;
	width: auto;
	box-shadow: 18px 20px 12px rgba(0, 0, 0, .32);
}

.background {
	font-family: Georgia;
	background-image: url('../toy_planes/tp3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0.1px;
}

#logo1 {
	margin-right: 0px;
}

#img1 {
	text-align: right;
}

a:link {
	text-decoration: none;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

label {
	font-size: 14px;
	margin-bottom: 0px;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

input[type=submit] {
	background-color: rgb(140, 140, 140);
	color: #0a0a0a;
	font-size: small;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #ccc;
}