/* responsive_contactUs.css */


/*  1024 to 1280 pixels */

@media screen and (max-width: 1280px) {
	#Contactuspage .background {
		background-size: cover;
	}
	.navbar {
		width: 100%;
	}
	.navbar a {
		font-size: 24px;
	}
	.navbar .dropdown .dropbtn {
		font-size: 24px;
	}
	.welcome h2 {
		line-height: normal;
	}
	.welcome p {
		line-height: normal;
	}
	.container {
		width: 40%;
	}
	nav {
		width: 100%;
	}
	.navbar a {
		padding-top: 0.1%;
	}
	.dropdown .dropbtn {
		padding-top: 0.1%;
	}
	.dropdown-content {
		width: 55%;
	}
	.column {
		width: 33%;
		padding: 0px;
	}
	.column a {
		font-size: inherit;
	}
	#section3 {
		width: 100%;
	}
	#section3 .copyright {
		margin: 0;
		margin-top: 5%;
	}
	#img1 {
		display: block;
		margin: 0;
		text-align: right;
	}
	#contactUs .container {
		float: none;
		width: 50%;
		padding: 6.8%;
	}
	#contactUs .container_form {
		float: none;
		width: 89%;
		padding: 2.4%;
		margin-top: 97px;
		margin-bottom: 96px;
	}
	input[type=submit] {
		margin: auto 0;
	}
	div.wrapper {
		min-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}


/*  500 to 1024 pixels */

@media screen and (max-width: 1024px) {
	.background {
		background-size: cover;
		background-position: center;
		margin-right: 0;
	}
	.navbar {
		width: 100%;
	}
	.navbar a {
		font-size: 24px;
	}
	.navbar .dropdown .dropbtn {
		font-size: 24px;
	}
	.welcome h2 {
		line-height: normal;
	}
	.welcome p {
		line-height: normal;
	}
	.container {
		width: 50%;
	}
	nav {
		width: 100%;
	}
	.navbar a {
		padding-top: 0.1%;
	}
	.dropdown .dropbtn {
		padding-top: 0.1%;
	}
	.dropdown-content {
		width: 50%;
	}
	.column {
		width: 33%;
		padding: 0px;
	}
	.column a {
		font-size: inherit;
	}
	.contact {
		margin: 0;
		float: none;
		width: 96.094%;
	}
	#section3 {
		width: 100%;
	}
	#section3 .copyright {
		margin: 0;
		margin-top: 5%;
	}
	#img1 {
		display: block;
		margin: 0;
		text-align: right;
	}
	#contactUs .container {
		float: none;
		width: 54%;
		padding: 3%;
	}
	#contactUs .container_form {
		float: none;
		width: 89%;
		padding: 2.4%;
		margin-top: 97px;
		margin-bottom: 96px;
	}
	input[type=submit] {
		margin: auto 0;
	}
	div.wrapper {
		min-width: 500px;
	}
}


/*  under 500 px  */

@media screen and (max-width: 500px) {
	.background {
		background-size: cover;
		margin-right: 0;
	}
	.navbar {
		width: 100%;
	}
	.container h1 {
		font-size: 130%;
	}
	.welcome h2 {
		font-size: 75%;
		line-height: normal;
	}
	.welcome p {
		font-size: 60%;
		line-height: normal;
	}
	.container {
		width: 60%;
	}
	nav {
		width: 31%;
	}
	.navbar a {
		padding-top: 0.1%;
		font-size: 18px;
	}
	.navbar .dropdown .dropbtn {
		font-size: 18px;
	}
	.dropdown .dropbtn {
		padding-top: 0.1%;
	}
	.dropdown-content {
		width: 100%;
	}
	.column {
		width: 33%;
		padding: 0px;
	}
	.column a {
		font-size: initial;
	}
	.contact {
		margin: 0;
		float: none;
		width: 92%;
	}
	#section3 {
		width: 100%;
	}
	#section3 .copyright {
		margin: -13px;
		margin-top: 11%;
	}
	#section3 #logo1 {
		margin: 0;
		margin-right: 15%;
	}
	#img1 {
		display: block;
		margin: 0;
		text-align: center;
	}
	#contactUs .container {
		float: none;
		width: 89%;
		padding: 2.4%;
		margin-top: 37px;
		margin-bottom: 35px;
	}
	#contactUs .container_form {
		float: none;
		width: 89%;
		padding: 2.4%;
		margin-top: 37px;
		margin-bottom: 35px;
	}
	input[type=submit] {
		margin: auto 0;
	}
}